spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/hotel
    username: hotel_user
    password: hotel_pass
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true

  management:
    endpoints:
      web:
        exposure:
          include: health,info
    endpoint:
      health:
        show-details: never